body {
}

button {
    border: none;
    background-color: white;
    color: darkgray;
}

input {
    border-radius: 5px;
    border-style: solid;
}

textarea {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

hr {
    margin-top: 3px;
    border-width: 2px;
}

.wrapper {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-gap: 2em;
    align-items: center;
}

.newgamewrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2em;
    align-items: center start;
}

.newgamedesc {
    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
}

.wrapper > div {    
}

.score {
    font-size: 2em;
    width: 45px;
    text-align: center;
    background-color: green;
    color: white;
}

a {
    color: unset
}

a:hover {
    color: darkred;
}

.gamelist {
    display: block;
    margin-left: 6%;
    margin-right: 6%;
}