:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #1b6ec2;
    --heading-color: #ededed;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}


button {
    border: none;
    background-color: white;
    color: darkgray;
}

input {
    border-radius: 5px;
    border-style: solid;
}

textarea {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

hr {
    margin-top: 3px;
    border-width: 2px;
}

.wrapper {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-gap: 2em;
    align-items: center;
}

.newgamewrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2em;
    align-items: center start;
}

.newgamedesc {
    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
}

.wrapper > div {    
}

.score {
    font-size: 2em;
    width: 45px;
    text-align: center;
    background-color: green;
    color: white;
}

a {
    color: unset
}

a:hover {
    color: darkred;
}

.gamelist {
    display: block;
    margin-left: 6%;
    margin-right: 6%;
}

.greytd {
    background-color: lightgray;
}

.homeWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2em;
    margin: 20px;
}

.slide {
    display: none;
}

.animateSlide {
    position: relative;
    animation: slideAnimation 0.8s;
}

@keyframes slideAnimation {
    from { left: 200px; opacity: 0; } to { left: 0px; opacity: 1; }
}

.saveButton {
    background-color: green;
    text-decoration: white;
    border-bottom: groove;
}

.deleteButton {
    background-color: red;
    text-decoration-color: white;
    border-bottom: groove;  
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--heading-color);/*#fff*/
    background-color: var(--bg-color);/*#1b6ec2*/
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}